* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: calc(100vh - 200px); /* 100% da altura da viewport menos 200px */
    width: calc((50vw + 200px) / 2); /* metade da largura da viewport mais 200px dividido por 2 */
    background: red;
}