/* 
ORIENTAÇÃO

landscape - paisagem
portrait - retrato
and - e
max-width - largura máxima
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 700px;
    width: 700px;
    background-color: lightblue;
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    div {
        background-color: lightcoral;
        height: 200px;
        width: 200px;
    }
}