* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 700px;
    width: 700px;
    background-color: lightblue;
}

@media (max-width: 600px) {
    div {
        background-color: lightcoral;
        height: 200px;
        width: 200px;
    }
}