* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.container-right {
    display: inline-block;
    height: 100%;
    width: 50%;
    /* corrigido */
}

img {
    position: relative;
    margin-left: 10%;
}

header {
    margin: 40px 0 140px 10px;
    margin-left: 80px;
}

.link-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #17233D;
    margin-right: 40px;
    cursor: pointer;
}

.button-header {
    background: #6fbf44;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    border: 1px solid #4cb538;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
    cursor: pointer;
}

img {
    width: 500.18px;
}

section {
    display: inline-block;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    letter-spacing: 0.6px;
    margin: 40% 0 0 10%;
    margin-bottom: 50px;
    width: 582px;
    height: 164px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    width: 493px;
    height: 99px;
    margin: 40px 0 0 10%;
    margin-bottom: 65px;
    letter-spacing: 0.5px;
    text-align: justify;
}

.button-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #6FBF44;
    letter-spacing: 1px;
    margin: 50px 0 0 10%;
    border: none;
    background: #ffffff;
    cursor: pointer;
}

.button-header:hover,
.button-main:hover {
    /* Ao passar o mouse sobre o botão */
    opacity: 0.4;
}

a:hover {
    /* Ao passar o mouse sobre o link */
    opacity: 0.4;
}

a:active {
    /* Ao clicar no link */
    opacity: 0.8;
}

/* MENU HAMBURGUER – fica escondido no desktop */
#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 40px;
    cursor: pointer;
    margin: 30px 0 0 20px;
}

@media screen and (max-width: 800px) {

    .wrapper {
        display: block;
    }

    .hamburger {
        display: block;
    }

    /* Quando clicar no menu, mostra os links */
    #menu-toggle:checked~header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container-left {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        /* corrigido */
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 80%;
        max-height: 50%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 40px;
        line-height: 52px;
        width: auto;
        margin: 40px 58px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 50px 100px;
        width: auto;
        text-align: justify;
        font-size: 17px;
        font-weight: 30px;
        line-height: 24px;
    }

    .button-main {
        display: block;
        margin: 0 auto;
        font-size: 17px;
        font-weight: bold;
    }

    

    .hamburger:hover {
        /* Ao passar o mouse sobre o link */
        opacity: 0.4;
    }

    .hamburger:active {
        /* Ao clicar no link */
        opacity: 0.8;
    }

}

@media screen and (max-width: 400px) {
    .container-left {
        height: 80%;
    }
}